<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yss.shopping.mapper.user.UserRoleMapper">


<!--    <resultMap id="SelectUserRoleListMap" type="com.yss.shopping.dto.user.UserRoleDTO">-->
<!--        <id column="ur_id" jdbcType="LONG" property="urId"/>-->
<!--        <result column="" jdbcType="" property="" />-->
<!--        <result column="" jdbcType="" property="" />-->
<!--        <result column="" jdbcType="" property="" />-->
<!--    </resultMap>-->


    <!-- 查询用户的角色列表 -->
    <select id="selectUserRoleList" resultType="com.yss.shopping.dto.user.UserRoleDTO">
        SELECT
            UR.id AS urId, UR.uid, UR.rid,
            SR.role_name AS roleName, SR.parent_id AS parentRid
        FROM
            user_role AS UR
            LEFT JOIN sys_role AS SR ON SR.id = UR.rid
        WHERE
            UR.uid = #{uid}
    </select>

</mapper>
